/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#demo {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 
body {
  background-color: #000000;
}

h1 {
  color: white;
} */

/* END DEMO */
