<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://media1.giphy.com/media/9DlDFQnAB66wC59MVX/giphy.gif?cid=2c6ce687045ddca41ca1b4195d94299ffdcdc8e0eea53cab&rid=giphy.gif"   alt="Gif"/>
    <!-- <iframe src="https://media1.giphy.com/media/9DlDFQnAB66wC59MVX/giphy.mp4?cid=2c6ce687cfc39d71fd3477ced63086f820140b61d8010589&rid=giphy.mp4">
    </iframe> -->
    

</body>
</html>