* {
    --light-bg: rgb(85, 85, 85);
    --med-bg: rgb(61, 61, 61);
    --dark-bg: rgb(34, 34, 34);
    --light-text: white;
    --med-text: rgb(175, 175, 175);
    --dark-text: black;
    --logo-green: #008036;
    border: border-box;
    font-size: 16px;
}

/* bootstrap native navbar bg #343B3F */
/*logo color #008036 */

body {
    background-color: var(--med-bg);
    background-image: url('webb-dark.png');
    background-attachment: fixed;
    height: 110vh;
    width: 100vw;
    }

/* NAVBAR  */ 

.navbar {
    /* background-color: var(--dark-bg); */
    background-color: rgba(0,0,0,.7);
}

#searchbar {
    font-weight: bold;
    font-size: 2rem;
    color: var(--light-text);
    background-color: var(--dark-bg);
    border: none;
    transition: all .5s ease;
}

#searchbar::placeholder {
    font-weight: bold;
    font-size: 2rem;
    color: var(--light-text);
    font-style: italic;
}

#searchbar:focus {
    background-color: var(--med-bg);
}

#logo {
    width: 75px;
    transition: all .7s ease-in;
    border: 1px solid black;
}

#logo:hover {
    margin-top:75px;
    width: 150px;
    transform: rotate(360deg);
}

/* HOME PAGE */

.jumbotron {
    background-color: var(--dark-bg);
    color: var(--light-text);
    border-left: .5rem solid var(--logo-green);
}

.jumbotron p {
    border-top: .1rem solid green;
    padding: 2rem 0 0;
    font-style: italic;
}

#trending {
    color: var(--light-text);
    background-color: var(--dark-bg);
    padding: 1rem;
    margin: 5rem 0 1rem;
    width: 40%;
    border-left: .5rem solid var(--logo-green);
    border-radius: 5px;
}

/* GENERAL BUTTON & CARD */

.btn {
    background-color: var(--med-bg);
    color: var(--med-text);
    border: .1rem solid var(--logo-green);
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    transition: all .5s ease;
}

.btn:hover, .btn:focus {
    background-color: var(--med-bg);
    color: var(--light-text);
    border: .1rem solid var(--logo-green);
    border-top: none;
    border-bottom: none;
    border-radius: 40px 10px 10px;
}

.card {
    background-color: var(--dark-bg);
    border-top: .2rem solid var(--logo-green);
}

/* MEME CARD */

#meme-card h4 {
    width: 90%;
    margin: 0 auto;
    color: var(--med-text);
    padding-bottom: 15px;
    border-bottom: .05rem solid var(--logo-green);
}

#meme-card {
    border-top: .75rem solid var(--logo-green);
    border-bottom: .1rem solid var(--logo-green);
}

/* MEME PAGE SIDE LINKS */

#back-btn {
    border: .25rem solid var(--logo-green);
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    transition: all .3s ease;
    width: 200px;
    display: block;
}

#back-btn:hover {
    border-radius: 5px;
}

#button-gr {
    width: 200px;
}

.side-btn {
    border: .25rem solid var(--logo-green);
    border-bottom: none;
    border-top: none;
    border-radius: 0px;
    transition: all .3s ease;
}

.side-btn:hover {
    border-radius: 0px;
}

.side-btn:hover, #back-btn:hover{
    border: .25rem solid var(--logo-green);
    border-bottom: none;
    border-top: none;
    margin-left: -30px;
}

#view-ctr {
    text-align: center;
    background-color: var(--med-bg);
    padding: 20px;
    width: 200px;
    border-radius: 5px;
    border: .25rem solid var(--logo-green);
    border-bottom: none;
    border-top: none;
    color: var(--med-text);
    font-weight: bold;
    transition: all .5s ease;
}

#view-ctr:hover {
    font-style: italic;
}

#sidelinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 1025px) {
    #sidelinks {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: -30px;
    }
}

/* MEME PAGE RANDOM MEMES */

#more-memes {
    background-color: var(--dark-bg);
    color: var(--med-text);
    font-weight: bold;
    border: none;
    border-top: .1rem solid var(--logo-green);
    border-bottom: .1rem solid var(--logo-green);
}

/* MEME PAGE POPOVER */

.popover h3 {
    background-color: var(--light-bg);
    border: none;
    color: var(--light-text);
}

.popover, .popover h3 {
    opacity: .7;
}

.popover ul {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    list-style-type: none;
}

.popover li {
    margin-top: .3rem;
}

/* ERROR PAGE */

#error-card {
    max-width: 70%;
    margin-bottom: 200px;
    padding: 1rem 0;
    border: none;
    border-top: .2rem solid var(--logo-green);
    border-bottom: .2rem solid var(--logo-green);
    background-color: rgba(34,34,34,.7);
}

#error-alert {
    background-color: var(--dark-bg);
    color: red;
    text-align: left;
    border: none;
    border-left: .5rem solid red;
    margin-bottom: 2rem;
    font-family: 'Courier', monospace;
}

/* CREDIT IMG */

#credit {
    margin-top: 50px;
    opacity: .3;
}